:root {
  --font-size: 3.2rem;
  --dark__main-background: hsl(221, 27%, 31%);
  --dark__toggle-background: hsl(223, 31%, 20%);
  --dark__screen-background: hsl(223, 37%, 15%);
  --dark__key-background: hsl(225, 21%, 49%);
  --dark__key-shadow: hsl(224, 28%, 35%);
  --dark__number-background: hsl(30, 25%, 89%);
  --dark__number-shadow: hsl(28, 16%, 65%);
  --dark__toggle: hsl(6, 63%, 50%);
  --dark__toggle-shadow: hsl(6, 70%, 34%);
  --dark__text-color: hsl(221, 14%, 31%);
  --dark__text-color-white: hsl(0, 0%, 100%);


  --light__main-background: hsl(0, 0%, 90%);
  --light__toggle-background: hsl(0, 5%, 81%);
  --light__screen-background: hsl(0, 0%, 93%);
  --light__key-background: hsl(185, 42%, 37%);
  --light__key-shadow: hsl(185, 58%, 25%);
  --light__number-background: hsl(45, 7%, 89%);
  --light__number-shadow: hsl(35, 11%, 61%);
  --light__toggle: hsl(25, 98%, 40%);
  --light__toggle-shadow: hsl(25, 99%, 27%);
  --light__text-color: hsl(60, 10%, 19%);
  --light__text-color-white: hsl(0, 0%, 100%);


  --dracula__main-background: hsl(268, 74%, 9%);
  --dracula__toggle-background: hsl(268, 71%, 12%);
  --dracula__screen-background: hsl(268, 71%, 12%);
  --dracula__key-background: hsl(281, 89%, 26%);
  --dracula__key-shadow: hsl(285, 91%, 52%);
  --dracula__number-background: hsl(268, 47%, 21%);
  --dracula__number-shadow: hsl(290, 70%, 36%);
  --dracula__toggle: hsl(176, 100%, 44%);
  --dracula__toggle-shadow: hsl(177, 92%, 70%);
  --dracula__text-color: hsl(52, 100%, 62%);
  --dracula__text-color-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
  font-family: 'League Spartan', sans-serif;
}

body {
  padding: 25px;
  margin: 0 auto;
  max-width: 600px;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark__main-background);
  overflow: hidden;
}

body.light {
  background-color: var(--light__main-background);
}

body.dracula {
  background-color: var(--dracula__main-background);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  height: 50px;
}

h1 {
  color: var(--dark__text-color-white);
  font-size: var(--font-size);
}

body.light h1 {
  color: var(--light__text-color);
}

body.dracula h1 {
  color: var(--dracula__text-color);
}

.navbar {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 120px;
  height: 100%;
  color: var(--dark__text-color-white);
  font-size: 1.4rem;
  font-weight: 700;
}

body.light .navbar {
  color: var(--light__text-color);
}

body.dracula .navbar {
  color: var(--dracula__text-color);
}

.toggle-theme {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 10px;
  width: 100%;
  height: 100%;
  vertical-align: text-top;
  letter-spacing: 4px;
}

#theme {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  padding: 5px;
  width: 60px;
  height: 20px;
  background-color: var(--dark__toggle-background);
  border-radius: 25px;
  cursor: pointer;
}

body.light #theme {
  background-color: var(--light__toggle-background);
}

body.dracula #theme {
  background-color: var(--dracula__toggle-background);
}

#theme #dark {
  width: 10px;
  height: 100%;
  background-color: var(--dark__toggle);
  border-radius: 50%;
  cursor: pointer;
}

body.light #theme #dark {
  opacity: 0;
}

body.dracula #theme #dark {
  opacity: 0;
}

#light {
  width: 10px;
  height: 100%;
  background-color: var(--light__toggle);
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}

body.light #theme #light {
  opacity: 1;
}

body.dracula #theme #light {
  opacity: 0;
}

#dracula {
  width: 10px;
  height: 100%;
  background-color: var(--dracula__toggle);
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}

body.dracula #theme #dracula {
  opacity: 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80%;
}

#screen {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  padding: 15px 25px;
  width: 100%;
  min-height: 60px;
  background-color: var(--dark__screen-background);
  border-radius: 10px;
}

body.light #screen {
  background-color: var(--light__screen-background);
}

body.dracula #screen {
  background-color: var(--dracula__screen-background);
}

#results {
  width: 100%;
  text-align: end;
  color: var(--dark__text-color-white);
  font-size: var(--font-size);
  font-weight: 700;
  letter-spacing: 1px;
  background-color: var(--dark__screen-background);
  border: none;
}

body.light #results {
  color: var(--light__text-color);
  background-color: var(--light__screen-background);
}

body.dracula #results {
  color: var(--dracula__text-color);
  background-color: var(--dracula__screen-background);
}

#results:focus {
  border: none;
  outline: none;
}

.container-buttons {
  margin-bottom: 25px;
  padding: 25px;
  width: 100%;
  height: 100%;
  background-color: var(--dark__toggle-background);
  border-radius: 10px;
}

body.light .container-buttons {
  background-color: var(--light__toggle-background);
}

body.dracula .container-buttons {
  background-color: var(--dracula__toggle-background);
}

.container-buttons div {
  margin-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 20%
}

.container-buttons .container-numbers {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 0;
  padding-bottom: 0;
  width: 100%;
  height: 80%;
}

.container-buttons button {
  margin-left: 7.5px;
  margin-right: 7.5px;
  margin-bottom: 15px;
  max-width: 100px;
  max-height: 80px;
  color: var(--dark__text-color);
  font-size: var(--font-size);
  font-weight: 700;
  background-color: var(--dark__number-background);
  border: none;
  border-radius: 7px;
  box-shadow: 0px 5px 0px 0px var(--dark__number-shadow);
  cursor: pointer;
}

body.light .container-buttons button {
  color: var(--light__text-color);
  background-color: var(--light__number-background);
  box-shadow: 0px 5px 0px 0px var(--light__number-shadow);
}

body.dracula .container-buttons button {
  color: var(--dracula__text-color);
  background-color: var(--dracula__number-background);
  box-shadow: 0px 5px 0px 0px var(--dracula__number-shadow);
}

#del {
  color: var(--dark__text-color-white);
  font-size: 1.6rem;
  background-color: var(--dark__key-background);
  box-shadow: 0px 5px 0px 0px var(--dark__key-shadow);
}

body.light #del {
  color: var(--light__text-color-white);
  background-color: var(--light__key-background);
  box-shadow: 0px 5px 0px 0px var(--light__key-shadow);
}

body.dracula #del {
  color: var(--dracula__text-color-white);
  background-color: var(--dracula__key-background);
  box-shadow: 0px 5px 0px 0px var(--dracula__key-shadow);
}

#reset {
  width: calc(50% - 15px);
  max-width: 100%;
  height: 100%;
  color: var(--dark__text-color-white);
  font-size: 1.6rem;
  background-color: var(--dark__key-background);
  box-shadow: 0px 5px 0px 0px var(--dark__key-shadow);
}

body.light #reset {
  color: var(--light__text-color-white);
  background-color: var(--light__key-background);
  box-shadow: 0px 5px 0px 0px var(--light__key-shadow);
}

body.dracula #reset {
  color: var(--dracula__text-color-white);
  background-color: var(--dracula__key-background);
  box-shadow: 0px 5px 0px 0px var(--dracula__key-shadow);
}

#equal {
  margin-right: 0;
  width: calc(50% - 15px);
  max-width: 100%;
  height: 100%;
  color: var(--dark__text-color-white);
  font-size: 1.6rem;
  background-color: var(--dark__toggle);
  box-shadow: 0px 5px 0px 0px var(--dark__toggle-shadow);
}

body.light #equal {
  color: var(--light__text-color-white);
  background-color: var(--light__toggle);
  box-shadow: 0px 5px 0px 0px var(--light__toggle-shadow);
}

body.dracula #equal {
  color: black;
  background-color: var(--dracula__toggle);
  box-shadow: 0px 5px 0px 0px var(--dracula__toggle-shadow);
}